/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #F0E8CA;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:#F0E8CA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.header {
    background-color:white;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Recipe section styling */
.recipe-tiles {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between; /* Distribute the tiles with space between them */
    flex-wrap: wrap; /* Wrap to the next line if the content exceeds the container width */
}

.recipe {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}


.recipe img {
    max-width: 200px;
    height: 200px;
}

.recipe h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.recipe h2 {
    font-size: 24px;
    margin-top: 20px;
}

.recipe ol
.recipe ul{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.recipe li {
    margin-bottom: 5px;
}

.button {
    border: none;
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: 8px 20 px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
.recipe-page {
    margin-bottom: 20px; 
    padding: 20px; 
    box-sizing: border-box; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.recipe-page img {
    max-width: 200px;
    height: 200px;
}

.recipe-page ol
.recipe-page ul{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.recipe-page li {
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
}